
<div class="container">
  <h1>NEW MAKEUP NONSENSE BINGO</h1>
<table class ="table">
  <tbody>
    <tr>
      <td>PRETTY EMBOSSING, BASIC MAKEUP</td>
      <td>A TOTAL ANNE PALETTE</td>
      <td>MAJOR COPYCAT VIBES</td>
      <td>ALREADY BOUGHT IT!</td>
      <td>ANOTHER RAINBOW PALETTE</td>
    </tr>
    <tr>
      <td>A FOOD THEMED MAKEUP ITEM</td>
      <td>A TRUE CASH GRAB</td>
      <td>PUT IT ON MAH FACE</td>
      <td>COMPLEXION RELEASE WITH A TERRIBLE RANGE</td>
      <td>A BUNDLE DEAL NO ONE WANTS</td>
    </tr>
    <tr>
      <td>OF COURSE I'M BUYING IT</td>
      <td>ALL THE MULTI-CHROMES</td>
      <td>IT'S A COLOURPOP RELEASE</td>
      <td>MAKEUP REVOLUTION, GO AWAY</td>
      <td>DRUNK ME WOULD BUY IT</td>
    </tr>
    <tr>
      <td>FOUNDATION AGAAAIN</td>
      <td>YES! GIVE US NOTHING</td>
      <td>AN OVERSIZED MORPHE PALETTE</td>
      <td>A COLLAB/PRODUCT THAT WON'T DIE</td>
      <td>A PRODUCT THAT IS A CATFISH</td>
    </tr>
    <tr>
      <td>NOSTALGIA, WE MEET AGAIN</td>
      <td>NEW INFLUENCER/CELEB BRAND</td>
      <td>A COLLAB WITH SOMEONE NOT KNOW FOR THEIR MAKEUP</td>
      <td>SAME SHIT, NEW PACKAGING</td>
      <td>EVEN MORE SKINCARE</td>
    </tr>
  </tbody>
</table>
</div>
