table {
  width: 35%;
  border-collapse: collapse;
  background-color: #c9e265;
  margin: 1em auto;
}

td {
  border: 3px dotted black;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

td:first-child {
  border-left: none;
}

td:last-child {
  border-right: none;
}

caption {
  font-weight: bold;
  font-size: 6vw;
  color: black;
  text-align: center;
}

img {
  width: 40%;
}

.card {
  border: none;
}

input[type="checkbox"] + label:active, input[type="checkbox"]:checked + label {
  background-image: url("../../assets/redX.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="checkbox"] {
  cursor: pointer;
  display: block;
  height: 0;
  width: 0;
  opacity: 0;
  overflow: hidden;
}

@media (max-width: 480px) {
  table {
    width: 20%;
    font-size: 2vw;
  }
}
