<table class="table caption-top">
  <caption>
    <img src="../../assets/header.png" alt="" />
  </caption>
  <thead>
    <tr>
      <td id="square0"><input type="checkbox" id="s1"/><label for="s1"> PRETTY EMBOSSING, BASIC MAKEUP</label></td>
      <td id="square1"><input type="checkbox" id="s2"><label for="s2"> A TOTAL ANNE PALETTE</label></td>
      <td id="square2"><input type="checkbox" id="s3"><label for="s3">MAJOR COPYCAT VIBES</label> </td>
      <td id="square3"><input type="checkbox" id="s4"><label for="s4">ALREADY BOUGHT IT</label> </td>
      <td id="square4"><input type="checkbox" id="s5"><label for="s5">ANOTHER RAINBOW PALETTE</label> </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="square5"><input type="checkbox" id="s6"><label for="s6">A FOOD THEMED MAKEUP ITEM</label></td>
      <td id="square6"><input type="checkbox" id="s7"><label for="s7">A TRUE CASH GRAB</label> </td>
      <td id="square7"><input type="checkbox" id="s8"><label for="s8">PUT IT ON MAH FACE!</label> </td>
      <td id="square8"><input type="checkbox" id="s9"><label for="s9">COMPLEXION RELEASE WITH A TERRIBLE RANGE</label></td>
      <td id="square9"><input type="checkbox" id="s10"><label for="s10"> A BUNDLE DEAL NO ONE WANTS</label></td>
    </tr>
    <tr>
      <td id="square10"><input type="checkbox" id="s11"><label for="s11">OF COURSE, I'M BUYING IT!</label> </td>
      <td id="square11"><input type="checkbox" id="s12"><label for="s12">ALL THE MULTI-CHROMES</label></td>
      <td id="square12"><input type="checkbox" id="s13"><label for="s13">IT'S A COLOURPOP RELEASE</label> </td>
      <td id="square13"><input type="checkbox" id="s14"><label for="s14">MAKEUP REVOLUTION, GO AWAY</label> </td>
      <td id="square14"><input type="checkbox" id="s15"><label for="s15">DRUNK ME WOULD BUY IT</label> </td>
    </tr>
    <tr>
      <td id="square15"><input type="checkbox" id="s16"><label for="s16">FOUNDATION AGAAAAIN</label> </td>
      <td id="square16"><input type="checkbox" id="s17"><label for="s17">YES! GIVE US NOTHING</label> </td>
      <td id="square17"><input type="checkbox" id="s18"><label for="s18">AN OVERSIZED MORPHE PALETTE</label> </td>
      <td id="square18"><input type="checkbox" id="s19"><label for="s19">A COLLAB/ PRODUCT THAT WON'T DIE</label> </td>
      <td id="square19"><input type="checkbox" id="s20"><label for="s20">A PRODUCT THAT IS A CATFISH</label> </td>
    </tr>
    <tr>
      <td id="square20"><input type="checkbox" id="s21"><label for="s21">NOSTALGIA, WE MEET AGAIN</label> </td>
      <td id="square21"><input type="checkbox" id="s22"><label for="s22">NEW INFLUENCER/ CELEB BRAND</label> </td>
      <td id="square22"><input type="checkbox" id="s23"><label for="s23">A COLLAB W/ SOMEONE NOT KNOWN FOR THEIR MAKEUP</label> </td>
      <td id="square23"><input type="checkbox" id="s24"><label for="s24">SAME SHIT, NEW PACKAGING</label> </td>
      <td id="square24"><input type="checkbox" id="s25"><label for="s25">EVEN MORE SKINCARE</label> </td>
    </tr>
  </tbody>
</table>
